<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
<div class="form-container">
  <form action="/answer" method="get">
    <input type="text" name="question" id="input-text">
    <input type="submit" value="Ask!" id="input-btn">
  </form>
</div>
